<!DOCTYPE html>
<html >
  <head>
    <meta charset="UTF-8">
    <title>Button</title>
    <link rel="stylesheet" href="css/main.css">
      <link href='https://fonts.googleapis.com/css?family=Exo+2' rel='stylesheet' type='text/css'>
      <link href='https://fonts.googleapis.com/css?family=Exo+2:300' rel='stylesheet' type='text/css'>
    </head>
 <body>
    <section>
   <h1>“Makeup is not a tool meant to make an ugly thing <br> beautiful, <br>
it is meant to magnify the beauty that already exists.”</h1>
        <p>Make-up Artist & Stylist with over 12 years experience in Bridal, Editorial, Fashion & Stage Make-up. As a professional make-up artist Jessica uses only the highest quality products including MAC, NARS and Bobbi Brown. I enjoy working with all different kinds of people, and am always looking to connect with fashion-minded individuals. Jessica's outstanding technical knowledge and creative abilities, combined with a unique personal service and an extraordinary wealth of experience makes her one of the top hairstylists on the market today.
</p>
        <p><a href="#">About Me</a></p>
    
    </section>
    </body>
</html>



