<!doctype HTML>
<html>
<head>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
    <script type="text/javascript" src="js/app.js"></script>
</head>
<body ng-app="pokedex" ng-controller="trainer">
    <form ng-submit="onCatch()">
        <label>
            Pokemon Name:
            <input type="text" ng-model="pokemon.name"> 
        </label>
        <label>
            Pokemon Type:
            <select ng-model="pokemon.type">
                <option>Fire</option>
                <option>Water</option>
                <option>Grass</option>
            </select>
        </label>
        <label>
            Pokemon Level:
            <input type="text" ng-model="pokemon.level"> 
        </label>
        <button type="submit">Catch It!</button>
    </form>
    <div ng-repeat="pokemon in pokeArr track by $index" style="height: 125px; width: 125px; float: left; padding: 10px; margin: 10px; border: 1px solid #cdcdcd; background: {{getColor(pokemon)}};">
        <p>{{pokemon.name}}</p>
        <p>{{pokemon.type}}</p>
        <p>{{pokemon.level}}</p>
        <button ng-click="removePokedata($index)">Set them free!</button>
    </div>
</body>
</html>