<!DOCTYPE html>
<html>
<head>
    <title>WSP: Kelsey Cossifos</title>
    <link href="css/reset.css" rel="stylesheet" type="text/css">
    <link href="css/main.css" rel="stylesheet" type="text/css">
</head>
<body>
    <!-- Header -->
    <header>
        <img alt="name" src="images/name.gif">
        <aside>
            <p>My name is Kelsey Cossifos and I am currently majoring in Web
            Design & Development at Full Sail University. Coding languages that
            I have learned are CSS, HTML, jQuery, Javascript, Angular, and
            Python. In addition, I have learned both photoshop and
            illustrator.</p>
        </aside>
    </header><!-- About -->
    <section>
        <h1>Component Library</h1>
    </section><!-- Blog, Components -->
    <section>
        <article>
            <img alt="modal" src="images/modal1.jpg">
            <h2>Modal</h2>
            <h3>WHAT I HOPE TO PRACTICE/LEARN?</h3>
            <p>How to use this design to organize information better and how to
            position it correctly on a webpage. I would also like to learn how
            to make this with only the use of CSS and HTML.</p>
            <h3>HOW THIS RELATES TO WHAT I HAVE/WILL LEARN IN WDD.</h3>
            <p>This relates to what I have learned because in a previous class
            we learned how to do make an accordion using modal and by using
            this as one of my compents, I will learn how to do it purely with
            CSS and HTML.</p>
            <h3>HOW MIGHT I BUILD THIS?</h3>
            <ol>
                <li>Create the compent by putting it in a section tag.</li>
                <li>Give it a width and height.</li>
                <li>Use positioning and the zindex in css.</li>
                <li>Use transitioning effects in css so the modal pops up and
                closes out.</li>
            </ol>
            <h3>STYLE GUIDE</h3>
            <p>Colors: #07B4CE, #5E5E67, #D8D6DB, #F6F4F7</p>
            <p>Fonts: Ubuntu</p>
            <button class="submit"><a href="modal/index.html">View Component</a></button>
        </article>
        <article>
            <img alt="style" src="images/button1.jpg">
            <h2>Animation button</h2>
            <h3>WHAT I HOPE TO PRACTICE/LEARN?</h3>
            <p>To learn how to make buttons that draws the attention of the
            user and keeps them focused with the use of animation.</p>
            <h3>HOW THIS RELATES TO WHAT I HAVE/WILL LEARN IN WDD.</h3>
            <p>This will relate to what I have learned in WDD by using hover
            and active effects to make this design from taking previous CSS
            classes.</p>
            <h3>HOW MIGHT I BUILD THIS?</h3>
            <ol>
                <li>Create a button tag in html.</li>
                <li>Apply css design to it to change the color and font.</li>
                <li>Use hover and transitioning effects in css.</li>
            </ol>
            <h3>STYLE GUIDE</h3>
            <p>Colors: #F0EDEC, #FF7592, #FFFFFF</p>
            <p>Fonts: EXO 2, Sans-serif</p>
            <button class="submit"><a href="button/index.html">View Component</a></button>
        </article>
        <article>
            <img alt="hover" src="images/image_hover1.jpg">
            <h2>Image Effects</h2>
            <h3>WHAT I HOPE TO PRACTICE/LEARN?</h3>
            <p>I hope to achieve this design with only the use of css and have
            a well working, well designed photo gallery with animation.</p>
            <h3>HOW THIS RELATES TO WHAT I HAVE/WILL LEARN IN WDD.</h3>
            <p>This relates to what I have learned so far by using jQuery on
            previous projects to give the same effects.</p>
            <h3>HOW MIGHT I BUILD THIS?</h3>
            <ol>
                <li>Create the compent by putting it in a section tag.</li>
                <li>Have each image in its own article tag.</li>
                <li>Use positioning in css</li>
                <li>Use transitioning and hover in css for effects.</li>
            </ol>
            <h3>STYLE GUIDE</h3>
            <p>Colors: #4DA23D, #FFFFFF, #95949A</p>
            <p>Fonts: Sans-serif</p>
            <button class="submit"><a href="image_gallery/index.html">View Component</a></button>
        </article>
        <article>
            <img alt="nav" src="images/nav1.jpg">
            <h2>Navigation Bar</h2>
            <h3>WHAT I HOPE TO PRACTICE/LEARN?</h3>
            <p>I hope to improve my design when it comes to making a navigation
            and to learn a more efficent way of excuting this design.</p>
            <h3>HOW THIS RELATES TO WHAT I HAVE/WILL LEARN IN WDD.</h3>
            <p>This relates to what I have learned by using the same
            information on previous projects to make navigation bars.</p>
            <h3>HOW MIGHT I BUILD THIS?</h3>
            <ol>
                <li>Create the compent by putting it in a nav tag.</li>
                <li>Create a ul tag with five li tags for each section on the
                navigation bar.</li>
                <li>Each drop down item with have a nested ul tag followed by
                an li tag</li>
            </ol>
            <h3>STYLE GUIDE</h3>
            <p>Colors:#FFFFFF </p>
            <p>Fonts: Kaushan Script, PT Sans Narrow</p>
            <button class="submit"><a href="Nav/index.html">View Component</a></button>
        </article>
        <article>
            <img alt="social" src="images/social1.jpg">
            <h2>Social Media Buttons</h2>
            <h3>WHAT I HOPE TO PRACTICE/LEARN?</h3>
            <p>I hope to learn some new transitioning methods and to have a
            better understanding of how it works. I would also like to learn on
            how to position items better on a webpage.</p>
            <h3>HOW THIS RELATES TO WHAT I HAVE/WILL LEARN IN WDD.</h3>
            <p>In a previous class, I briefly went over how css transitions
            work but I would like to have more knowledge on this practicular
            design.</p>
            <h3>HOW MIGHT I BUILD THIS?</h3>
            <ol>
                <li>Create the compent by putting it in a section tag.</li>
                <li>Put each icon in an article tag.</li>
                <li>Use positioning and the zindex in css.</li>
                <li>Use transitioning and hover effects in css.</li>
            </ol>
            <h3>STYLE GUIDE</h3>
            <p>Colors: #FF7592, #FFFFFF, #33353D</p>
            <p>Fonts: EXO 2, Sans-serif</p>
            <button class="submit"><a href="social/index.html">View Component</a></button>
        </article>
    </section>
    <footer></footer>
</body>
</html>