/* Project CSS 
============================================================
============================================================*/
body {
    opacity: .95;
    background: #5C316E;
    max-width: 1000px;
    margin: 30px auto;
}

/* HEADER ============================== */
header {
    background-color: #DECEEF;
    border: 10px solid #311A3B;
    margin-bottom: 50px;
}

aside {
    float: right;
    font-size: 25px;
    margin: 25px 80px 0 0;
}

/* ABOUT ============================== */
h1 {
    padding: 10px 0 0;
    background-color: #311A3B;
    font-size: 50px;
    font-weight: 700;
    color: #DED1DE;
    margin-left: 25px;
    margin-bottom: -10px;
}

/* COMPONENTS ============================== */
img {
    margin: 10px 0 10px 10px;
}

h2 {
    font-size: 40px;
    text-decoration: underline;
    margin-left: 20px;
}

h3 {
    margin-top: 20px;
    font-size: 18px;
    font-weight: 700;
    margin-left: 20px;
}

p {
    margin-left: 20px;
    margin-bottom: 20px;
    width: 600px;
}

li {
    margin: 10px 0 10px 40px;
}

section {
    background-color: #311A3B;
    padding-bottom: 30px;
}

article {
    background-color: #DECEEF;
    width: 950px;
    margin-left: 25px;
    border: 5px solid #311A3B;
}


button {
    background-color: #5C316E;
    width: 150px;
    height: 35px; 
    height: 40px;
    position: relative;
    text-transform: uppercase;
    margin-bottom: 10px;
    color: #FFF;
    font: "Helvetica Neue", sans-serif;
    font-size: 14px;
    margin-left: 20px;
    border: 1px solid #311A3B;
}

a {
    text-decoration: none;
    color: #FFF;
}

a:hover {
    color: #5C316E;
    background-color: #FFF;
    transition: all 0.3s ease 0s;
}

button:hover{
    color: #5C316E;
    background-color: #FFF;
    transition: all 0.3s ease 0s;
}