/*body {
	background-color: #F7F7FF;
	margin-left: 300px;
}*/

body {
	margin-left: 350px; 
	background: #4f3b5b;
	background: -moz-radial-gradient(center, ellipse cover,  #4f3b5b 0%, #231733 100%);
	background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,#4f3b5b), color-stop(100%,#231733));
	background: -webkit-radial-gradient(center, ellipse cover,  #4f3b5b 0%,#231733 100%);
	background: -o-radial-gradient(center, ellipse cover,  #4f3b5b 0%,#231733 100%);
	background: -ms-radial-gradient(center, ellipse cover,  #4f3b5b 0%,#231733 100%);
	background: radial-gradient(ellipse at center,  #4f3b5b 0%,#231733 100%);
}

body,html{height:100%;}


h1 {
	margin-left: 30px;
	margin-bottom: 50px;
	margin-top: 50px;
	color: #FFFFFF;
	font-size: 3.5rem;
}


input{
  display:block;
    width: 300px;
    padding: 15px 0 15px 12px;
    font-family: "Arvo";
    font-weight: 400;
    color: #377D6A;
    background: rgba(0,0,0,0.3);
    border: none;
    outline: none;
    color: #fff;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.3);
    border: 1px solid rgba(0,0,0,0.3);
    border-radius: 4px;
    box-shadow: inset 0 -5px 45px rgba(100,100,100,0.2), 0 1px  1px rgba(255,255,255,0.2);
    text-indent: 60px;
    transition: all .3s ease-in-out;
    position: relative;
    font-size: 13px;
    margin-bottom: 20px;
}
input:focus{
    text-indent: 12px;
    box-shadow: inset 0 -5px 45px rgba(100,100,100,0.4), 0 1px 1px rgba(255,255,255,0.2);
}

label {
	color: #FFFFFF;
	font-family: "Arvo";
}

#button {
	background-color: #FFFFFF;
	color: #000000;
	font-family: "Arvo";
	width: 310px;
	font-size: 1rem;
	text-indent: 0px;
	box-shadow: 0 9px #95a5a6;
}

#button:hover {
	background-color: #BC89DA;
}

#button:active {
	box-shadow: 0 5px #FFFFFF;
  transform: translateY(4px);
}

section {
	display: block;
	margin-left: 450px;
	margin-top: -320px;
	margin-bottom: 340px;
	color: #FFFFFF;
	font-family: "Arvo";
	font-size: 1rem;
}

a {
	color: #BE69DA;
	text-decoration: none;
}

a:hover {
	color: #B54579;
}

#back {
	margin-left: 450px;
	font-family: "Arvo";
	font-size: 1.5rem;
}
