<!DOCTYPE html>
<html>
<head>
    <title>Modal</title>
    <link href="css/main.css" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Ubuntu:300' rel='stylesheet' type='text/css'>
     <link href=
    'http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css'
    rel='stylesheet prefetch'>
</head>
<body>
    <a href="#popUp" id="openPopUp">Click Me</a>
    <section class="popup" id="popUp">
        <section class="popUpContainer">
            <header>
                <a class="closePopUp" href="#">x</a>
                <h1>Subscribe to our newsletter</h1>
            </header>
            <article>
                <p>Enter your email address to receive all news,                         updates on new arrivals, special offers and                            other discount information.</p>
                <input type="input" placeholder="Enter your email"></input>
            <button class="fa fa-envelope">Subscribe</button>
            </article>
        </section>
    <a class="closePopUpOutSide" href="#"></a>
    </section>
</body>
</html>