<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Social Icons</title>
    <link href=
    'http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css'
    rel='stylesheet prefetch'>
    <link href="css/main.css" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Six+Caps' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Exo+2' rel='stylesheet' type='text/css'>
</head>
<body>
    <footer>
    <section>
        <h1>Jessica Priston</h1>
        <h2>Make-up Artist and Hair Stylist</h2>
        </section>   
    <section>
        <h3>Contacts</h3>
        <address>8901 Marmora Road, Glasgow, <br>D04 89GR.</address>
        <h4>+1 800 603 6035</h4>
        <p>mail@demolink.org</p> 
        </section>  
    <section> 
    <h5>Follow Me</h5>    
    <ul>
        <li>
            <a href="https://www.facebook.com">
                <i class="fa fa-facebook"></i></a>
        </li>
         <li>
            <a href="https://twitter.com">
                <i class="fa fa-twitter"></i></a>
        </li>
        <li>
            <a href="https://www.instagram.com">
                <i class="fa fa-instagram"></i></a>
        </li>
        <li>
            <a href="https://plus.google.com/">
                <i class="fa fa-google-plus"></i></a>
        </li>
        <li>
            <a><i class="fa fa-rss"></i></a>
        </li>
    </ul>
    </section>       
    </footer>    
</body>
</html>