

.test {
  margin-left: 70px;
  width: 200px;
}

.test_ton {
  float: left;
  clear: both;
}

.test_text {
  float: right;
}

.ton,
.ton_text {
  font-family: helvetica, arial, sans-serif;
  font-size: 12px;
  font-weight: bold;
  line-height: 12px;
  text-decoration: none;
  padding: 6px 10px 6px 19px;
  border-radius: 3px;
  position: relative;
  margin: 60px;
}

.heart {
  font-size: 16px;
  position: absolute;
  top: 7px;
  left: 5px;
}

.text_like {
  display: inline;
}

.liked {
  display: none;
}

.light, .light {
  color: #757a6f;
}

.light:hover:not(.selected) .heart, .light:hover:not(.selected) .heart {
  color: #ee6356;
  font-size: 19px;
  top: 6px;
  left: 4px;
}



.ton_light {
  background: #eef2ea;
  border: 1px solid #cfd5ca;
}

.ton_text_light_grey, .ton_light_grey {
  color: #757a6f;
}



.ton.selected {
  color: #fff;
  background-color: #73ce00;
  border: 1px solid #73ce00;
}

.ton.selected .heart {
  color: #fff;
  background-color: #fff;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}


.ton.selected .text_like {
  display: none;
}
.ton.selected .text_liked {
  display: inline;
}
