
<div id="back">
<div class="move">	
<h1 id="for">Add Student</h1>
<img id="icon" src="images/person.jpeg" width="200px" height="200px">
<form ng-submit="saveStudent()">
	<label>Student Name:<br><input ng-model="student.name" type="text"/></label><br>
	<label>Degree Program:<br><input ng-model="student.program" type="text"/></label><br>
	<label>Grade Level:<br><select ng-model="student.grade">
		<option>Freshman</option>
		<option>Sophmore</option>
		<option>Junior</option>
		<option>Senior</option>
	</select></label><br>
	<div id="top">
	<button type="submit">Add</button>
</div>
</form>
</div>
</div>